# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/fdms2lib/Debug/fdms2lib.tlog
/fdms2lib/Debug
/fdms2view/Debug
/test/test/Debug
/win32/Debug
/win32/.vs/fdms2view/v15
*.aps
*.user